body{
    background:#f3f3f3;
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    padding:10px;
}
header{
    height:70px;
    text-align: center;
    background: #065535;
}
header input{
    height:50px;
    background:#04442a;
    color:#666;
    font-size: 30px;
    outline: none;
    padding-left:20px;
    margin-top:10px;
    width:90%;
    border:none;
    border-radius:25px;
}
#button-container{
    height:100px;
}
.btn-container{
    text-align: center;
    margin:50px auto;
    transform: translateY(-50%);
}
.btn-container button{
    border:none;
    outline:none;
    height:50px;
    width:130px;
    margin-right:10px;
    font-size: 20px;
    cursor:pointer;
    display:inline-block;
    border-radius:75px;
    background:#f7f7f7;
    box-shadow:0 0 5px rgba(0,0,0,.2);
    padding: 5px 0;

}
.btn-container button.save{
    margin-right:0;
}
.output-container{
    font-size: 25px;
    text-align:center;
    width:80%;
    margin:0 auto;
}
.user-content ul{
    list-style-type: none;
    padding:0;
    margin:0 auto;
    width:90%;
}
.user-content>ul>li{
    padding: 0 0 0 20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    margin-bottom:10px;
    overflow: hidden;
    height: 140px;    
    border-radius:6px;
}
.user-content .sub-list{
    width:70%;
    float:left;
}
.user-content .sub-list li{
    margin: 10px 0;
    border-bottom:1px solid rgba(0,0,0,.04)
}
.sub-list .tempBTN{
    padding:3px 7px;
    background:#94ae44;
    color:#f3f3f3;
    font-size: 14px;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    margin-bottom:10px;
}
.user-content>ul>li button{
    float:right;
    border:none;
    outline:none;
    cursor:pointer;
    color:#f4f4f4;
    height:140px;
    line-height: 140px;
    font-size: 40px;
    width:30%;
    background:#a51414;
}
.temp-detail{
    width:250px;
    height:300px;
    background:rgba(222, 222, 224);
    padding:10px 20px;
    border-radius:10px;
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    position: absolute;
    top:-400px;
    left:50%;
    transform: translateX(-50%);
    margin:auto;
    display: none;
}
.temp-result{
    padding:60px 20px;
}
.temp-detail .fa-times{
    height: 30px;
    width:30px;
    position: absolute;
    top:20px;
    right:10px;
    font-size: 20px;
    cursor:pointer;
    background: #852222;;
    box-shadow:0 0 0 3px rgba(0,0,0,.1);
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    color:#f3f3f3;
}
.temp-detail.show{
    display: block;
    animation: myAnimation .8s ease-out forwards;
}
.temp-result .aqiData{
    padding-top:10px;
    font-size:24px;
}
.temp-result .aqiData span{
    font-size: 45px;
    font-weight:bold;
}
.temp-result .aqiData sub{
    font-size:11px;
}
@keyframes myAnimation{
    0%{
        top:-400px;
    }
    75%{
        top:40%;
    }
    100%{
        top:30%;
    }
}